
    body {
      margin-left: 0px;
      padding: 0;
      font-family:
        'roboto', Arial, sans-serif, 'Times New Roman', Times, serif;
    }

    .container {
      max-width: 300px;
      margin-left: 10px;
      padding: 20px;
      background-color: white;
      height: 800px;
      border-right: 1px solid black;

    }

    .input-container {
      position: relative;
      margin-bottom: 15px;
      margin-left: 9%;
    }

    input[type="text"],
    select {
      width: 210px;
      padding: 10px;
      font-size: 16px;
      font-family: 'roboto';
      border: 1px solid grey;
      border-radius: 2px;
    }

    select {
      width: 230px;
    }

    .map,
    .map-pin {
      color: black;
      font-size: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .map {
      left: -30px;
    }

    .map-pin {
      left: -30px;
      top: 15px;
    }

    .fa-plus {
      font-size: 10px;

    }

    .map1 {
      font-size: 30px;
    }

    .select label {
      margin-bottom: 10px;
      font-size: 16px;
      font-family: 'roboto', 'Times New Roman', Times, serif;
      border-radius: 2px;

      margin-left: 10px;
      left: -10px;


    }

    .suffix label {
      font-size: 16px;
      font-family: 'roboto', 'Times New Roman', Times, serif;
      margin-left: 10px;
      padding-bottom: 10px;
    }

    .suffix {
      margin-top: 20px;
    }

    .suffix-input {
      width: 230px;
      /* Adjusted width to accommodate the percentage symbol */
      padding: 10px;
      font-size: small;
      border: 1px solid grey;
      border-radius: 2px;
      position: relative;
      margin-top: 10px;

    }

    .suffix-input span {
      position: right;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
    }

    * {
      box-sizing: border-box;
    }

    .modal1 {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      width: 300px;
      height: 70%;
    }

    .modal-content1 {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      width: 500px;
      height: 50%;
    }

    /* The Close Button */
    .close,
    .close1 {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus,
    .close1:hover,
    .close1:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .submit-button {
      background-color: white;
      border: 1px solid hsl(224, 100%, 59%);
      /* Blue line border */
      color: hsl(224, 100%, 59%);
      padding: 8px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 3px;
      margin-left: 70px;
    }

    #myBtn {
      border: none;
      background: none;
      cursor: pointer;
      color: hsl(224, 100%, 59%);
      margin-top: 20px;
    }

    .PSI {
      border: 1px solid hsl(224, 100%, 59%);
      padding: 5px;
      width: 40px;
      height: 35px;
    }

    .suffex-input {
      width: 150px;
      /* Adjusted width to accommodate the percentage symbol */
      padding: 10px;
      font-size: small;
      border: 1px solid hsl(224, 100%, 59%);
      border-radius: 2px;
      position: relative;
    }

    .passenger {
      width: 150px;
      /* Adjusted width to accommodate the percentage symbol */
      padding: 10px;
      font-size: small;
      border: 1px solid grey;
      border-radius: 2px;
      position: relative;
    }

    #ameneties {
      background-color: hsl(224, 100%, 59%);
      border: 1px solid hsl(224, 100%, 59%);
      /* Blue line border */
      color: white;
      padding: 8px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 3px;
      margin-left: 5px;

    }

    .left {
      margin-left: 5px;
    }

    .leftest {
      margin-left: -30px;
    }

    .large-button {
      width: calc(300-100)px;
      height: 40px;
      font-size: 16px;
      margin: 10px;
      background-color: white;
      color: black;
      /* Blue font color */
      border: 1px solid black;
      /* Blue border */
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;

      font-family: 'roboto', 'Times New Roman', Times, serif;
      position: relative;
      padding-left: 40px;
      /* Adjusted for icon */
    }

    .large-button.selected {
      background-color: #3498db;
      /* Blue background color */
      color: white;
      /* White font color */
      border-color: #3498db;
      /* Blue border color */
    }

    .large-button .fa-solid,
    .large-button .fa-regular,
    .large-button .fa-bed {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .grey-text {
      color: grey;
      border: none;
      margin-right: 10px;
      /* Adjusted margin */

    }

    .time1 {
      display: flex;
      /* Changed to flex for spacing */
      justify-content: space-between;
      align-items: center;
      /* Align items to center vertically */
      border: 1px solid grey;
      border-radius: 1px;
      padding: 5px;
      /* Added padding */
      margin-bottom: 10px;
      color: grey;
      margin-left: -15px;
      font-size: 16px;

    }

    .time2 {
      display: flex;
      /* Changed to flex for spacing */
      justify-content: space-between;
      align-items: center;
      /* Align items to center vertically */
      border: 1px solid grey;
      border-radius: 1px;
      padding: 5px;
      /* Added padding */
      margin-bottom: 10px;
      color: grey;
      margin-right: 39px;
      font-size: 16px;


    }

    .time-align {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 25px;
      margin-top: -30px;
    }

    .d1 {
      margin-top: 5px;
      margin-left: -17px;
      width: 230px;
      font-size: 15px;

    }

    .d2 {
      padding: 5px;
      width: 150px;
      margin-right: 20px;

    }

    .s1 {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 25px;
      margin-top: -30px;
    }

    #trip {
      background-color: white;
      border: 1px solid hsl(224, 100%, 59%);
      /* Blue line border */
      color: hsl(224, 100%, 59%);
      padding: 8px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 3px;
      margin-left: 50px;
      margin-right: 50px;


    }

    .input-container input[type="text"]::placeholder {
      /* Add your desired styles for the placeholders */
      color: #999;
      /* Example color */
      font-family: 'roboto';
    }

    #map {
      height: 1000px;
      width: 2100px;
      /* Adjust the width to fit the remaining space */
      margin-left: 300px;
      /* Add margin to separate from the container */
      float: left;
      /* Float the map to the left */
      margin-top: -800px;
      ;
    }

    #current-location {
      width: 233px;
      height: 40px;
      padding: 10px;
      font-size: 16px;
      font-family: 'roboto';
      border: 1px solid grey;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin-top: -5px;
      margin-left: 0px;
      margin-bottom: 10px;
    }

    #current-location,
    .location-text {
      margin-right: 5px;
      /* Adjust the space between icon and text */
      font-size: 16px;
      flex-grow: 0.4;
      /* Allow the text to take up remaining space */
      overflow: hidden;
      /* Ensure text does not overflow */
      text-overflow: ellipsis;
      /* Add ellipsis if text overflows */
      white-space: nowrap;
      /* Prevent text wrapping */
    }

    .fa-crosshairs {
      margin-right: -30px;
      font-size: 25px;
      margin-right: 10px;
      /* Adjust the space between icon and text */
      margin-left: -30px;
      color: rgb(227, 13, 13);
    }

    .hide {
      color: #000;
    }
    #container1 {
      margin-left: 0%;
    }
  #container2 {
    margin-left: 0%;
  }